/* Plugin body */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

/* Page heading */
.heading-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.4rem 0;
}

.heading-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #0049d8;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Heading styling */

.section-label {
  color: #567fbd;
  font-size: 0.85rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.label-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Content div  */

.content-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  margin: 0.6rem 0.6rem;
}

/* Input components */

.input-string {
  resize: none;
}

/* QR code  */
.qr-container {
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: center;
  align-items: center;
  color: rgb(238, 174, 151);
}

/* buttons container div */

.buttons-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.6rem;
  width: 100%;
  justify-content: center;
}

/* buttons styling */

.button-pri {
  font-size: 0.6rem;
  font-weight: 400;
  padding: 0.3rem;
  height: 1.5rem;
  width: 7.4rem;
  border: 0.5px solid #1471fd;
  background-color: #1471fd;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(19, 103, 230, 0.2);
}

.button-pri:hover {
  background-color: #458fff;
  border: 0.5px solid #458fff;
  color: #fff;
  transition-duration: 0.1s;
}

.button-pri:active {
  background-color: #0f5bce;
  border: 0.5px solid #0f5bce;
  color: #fff;
  transition-duration: 0.1s;
  box-shadow: none;
}

.button-pri:disabled {
  border: 0.5px solid #e7e7e7;
  background-color: #e7e7e7;
  border-radius: 3px;
  color: #777777;
  cursor: default;
  box-shadow: none;
}

.button-sec {
  font-size: 0.6rem;
  font-weight: 400;
  padding: 0.3rem;
  height: 1.3rem;
  width: 3rem;
  border: 0.5px solid #333;
  background-color: white;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
}

/* Footer styling */

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1rem;
}

.credit-text {
  font-size: 0.6rem;
  color: rgb(158, 171, 196);
  display: inline-block;
}

a:link,
a:visited {
  color: rgb(158, 171, 196);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: rgb(108, 125, 155);
  transition-duration: 0.3s;
}
